# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.dylib
*.dll

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# V8 vendor
py_mini_racer/extension/.cipd
py_mini_racer/extension/.gclient*
py_mini_racer/extension/v8
py_mini_racer/extension/out
py_mini_racer/extension/depot_tools
py_mini_racer/extension/build
py_mini_racer/extension/build_overrides
py_mini_racer/extension/buildtools
py_mini_racer/extension/testing
py_mini_racer/extension/third_party
py_mini_racer/extension/tools

*.iml
