env: 
  - CXX=clang++
  - TOXENV=py27

language: python

dist: trusty
addons:
  apt:
    packages:
      - clang
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install -U tox

# command to run tests, e.g. python setup.py test
script: tox

notifications:
  recipients:
    - jb@sqreen.io
    - boris@sqreen.io

