include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

include py_mini_racer/libmini_racer.glibc.so py_mini_racer/libmini_racer.muslc.so
include py_mini_racer/libmini_racer.dylib
include py_mini_racer/mini_racer.dll

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py
